/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: General Styles
:: Carousel
:: Carousel-Slide
:: Trait
*/

/* -----------------------------------------
   General Styles
----------------------------------------- */
body {text-align:center;font-family: 'Helvetica Neue', Helvetica, sans-serif;text-align: center; margin: 0; color: #222222; font-size: 16px;}
.clear {clear:both;}
hr.soften {
  height: 1px;
  margin: 25px 0;
  background: -webkit-linear-gradient(left, transparent, rgba(255,255,255, .1), transparent);
  background: -moz-linear-gradient(left, transparent, rgba(255,255,255, .1), transparent);
  background: -ms-linear-gradient(left, transparent, rgba(255,255,255, .1), transparent);
  background: -o-linear-gradient(left, transparent, rgba(255,255,255, .1), transparent);
  border: 0;
}
a {
  color: #666;
  text-decoration: none;
  cursor: pointer;  
}
a:hover {
  color: #0CC6E7;
}
.header {
   background-color: #3B5998;
   width: 100%;
   padding-bottom: 10px;
}
.header h1 {
    line-height: 40px;
    font-size: 48px;
    font-weight: 100;
    color: #ffffff;
    text-shadow: 1px 1px black;
    padding: 35px 0 25px 0;
    margin: 0;
}
.header h2 {
  line-height: 30px;
    font-size: 24px;
    font-weight: 100;
    padding: 0;
    margin: 0;
}
.header h2 a{
  color: #ffffff;
}
.header h2 a:hover{
  color: #cccccc;
}
.photo-wrapper {
  background-color: #101010;
  width: 100%;
  height: auto;
  position: relative;
  padding: 45px 0 45px 0;
   -moz-box-shadow:    inset 0 0 2px #111111;
   -webkit-box-shadow: inset 0 0 2px #111111;
   box-shadow:         inset 0 0 2px #111111;
}
#PID-name {
  color: #ffffff;
  font-size: 22px;
  font-weight: 300;
}
#summed-votes-container {
  background-color: #ffffff;
  opacity: .9;
  padding: 15px;
  width: 80px;
  height: 20px;
  margin: 0 auto;
  border-radius: 3px;
}
#summed-votes-container span{
  font-weight: 200;
}
/* -----------------------------------------
   Carousel Styles
----------------------------------------- */
/* Tiny Carousel 
http://baijs.nl/tinycarousel/
*/
#slider { height: 1%; overflow:hidden; padding: 0 0 10px; margin: 10px auto; position: relative; width: 548px;}
#slider .viewport { float: left; width: 450px; height: 450px; overflow: hidden; position: relative; }
#slider .buttons { background:url("../assets/buttons.png") no-repeat scroll 0 0 transparent; display: block; margin: 225px 10px 0 0; background-position: 0 -38px; text-indent: -999em; float: left; width: 39px; height: 37px; overflow: hidden; position: relative; }
#slider .next { background-position: 0 0; margin: 225px 0 0 10px;  }
#slider .disable { visibility: hidden; }
#slider .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 100%; left: 0 top: 0; }
#slider .overview li{ float: left; padding: 1px; height: 450px; border: none; width: 450px;}
.carousel-item img {height: 450px; margin: 0 auto; width: auto; display: block;}

#slider .pager { overflow:hidden; list-style: none; clear: both; margin: 0 0 0 45px; }
#slider .pager ul {list-style: none}
#slider .pager li { float: left; margin: 0, 0.15em;}
#slider .pagenum { background-color: #000; text-decoration: none; text-align: center; padding: 5px; color: #555555; font-size: 14px; font-weight: bold; display: block; }
#slider .active { color: #fff; background-color:  #555555; }

/* -----------------------------------------
   Trait Styles
----------------------------------------- */
.trait-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.trait-container ul li {
  display: block;
  padding: 25px 25px; 
  margin-bottom: 3px;
  background-color: #EDEFF4;
  word-wrap: break-word
}

/*button css*/
.vote-btn.button{
    font-size: 14px;
    margin-top: -5px;
    padding: 5px 7px;
}
.vote-up {
  right: 170px;
}
.vote-down {
  right: 50px;
}
a.button {
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "proxima-nova-1","proxima-nova-2",Helvetica,Arial,sans-serif;
    font-weight: bold;
    line-height: 1;
    padding: 9px 34px;
    position: absolute;
    right: 10;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.gray {
    background: none repeat scroll 0 0 #AAAAAA;
}
.trait-container .vote-btn {
    display: none;
}
.trait-container li:hover .vote-btn {
    display: inline;
}​


/* derek's fiile*/


.warning {
  font-size: 11px;
  color: red;
}

#get-account h1{
  font-size: 80px;
  margin: 0;
}
#get-account h2{
  font-size: 38px;
  font-weight: 100;
  margin-top: 15px;
}
#get-account h3{
  font-size: 24px;
  font-weight: 500;
  margin-top: 60px;
}

#welcome1,
#welcome2{
  font-weight: 100;
  margin: 10%;
}

table{
  margin: 0 auto;
}
#login-container
  {
  position: relative;
  z-index: 2;
  text-align: center;
  width: 960px;
  margin: 100px auto;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/

/* for 980px or less */
@media screen and (max-width: 980px) {

  #login-container {
    width: 90%;
  }

}

/* for 700px or less */
@media screen and (max-width: 700px) {

#get-account h1{
  font-size: 60px;
  margin: 0;
}
#get-account h2{
  font-size: 32px;
  font-weight: 100;
  margin-top: 15px;
}
#get-account h3{
  font-size: 24px;
  font-weight: 500;
  margin-top: 40px;
}

}

/* for 480px or less */
@media screen and (max-width: 480px) {

#get-account h1{
  font-size: 49px;
  margin: 0;
}
#get-account h2{
  font-size: 24px;
  font-weight: 100;
  margin-top: 10px;
}
#get-account h3{
  font-size: 24px;
  font-weight: 500;
  margin-top: 30px;
}

}


